{% extends 'core/base.html' %}

{% block content %}
<h2>{{ article.title }}</h2>
{% if perms.sp_api.change_article %}
  <button class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
{% endif %}
<dl id="article_metadata" class="row">
  <dt class="col-sm-3">sp_hub ID</dt>
  <dd class="col-sm-9">{{ article.pk }}</dd>
  <dt class="col-sm-3">Author</dt>
  <dd class="col-sm-9">{{ article.creator }}</dd>
  <dt class="col-sm-3">Original file</dt>
  <dd class="col-sm-9">{{ article.html_file.name }}</dd>
  <dt class="col-sm-3">Mots-clés</dt>
  <dd class="col-sm-9">
    <ul class="list-inline">
      {% for keyword in keywords %}
      <li class="list-inline-item">
        <a href="{% url 'display_keyword' keyword.pk %}" class="badge badge-light">
          {{ keyword.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </dd>
  <dt class="col-3">Conversations</dt>
  <dd class="col-9">
    <ul class="list-inline">
      {% for convo in article.conversations.all %}
      <li class="list-inline-item"><a href="#">{{ convo }}</a></li>
      {% endfor %}
    </ul>
  </dd>
</dl>
<h3>Original document</h3>
<div id="article_content">
    {% autoescape off %}
    {{ basex_document }}
    {% endautoescape %}
</div>
<h3>
    <a data-toggle="collapse" data-target="#annotations" href="#annotations">Annotations hypothes.is</a>
</h3>

{% if annotations %}
<div id="annotations" class="list-group panel-collapse collapse">
    {% for value in annotations %}
    <a href="{{ value.links.html }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ value.text }}</h4>
        <p class="list-group-item-text">{{ value.user }}</p>
        {% if value.tags %}
            {% for tag in value.tags %}
                <button type="button" class="btn btn-xs btn-default">{{ tag }}</button>
            {% endfor %}
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
