<h2>Liste d'articles</h2>
{% if perms.sp_api.add_article %}
  <button class="btn btn-success btn-sm"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
{% endif %}
<div class="card-columns">
{% for item in articles %}
  <div class="card bg-light"><div class="card-body">
    <h4 class="card-title">{{ item.title }}</a></h4>
    <a href="{% url 'display_article' item.pk %}" class="card-link">Read more</a>
    <span class="card-link">ID {{ item.pk }}</span>
  </div></div>
{% endfor %}
</div>
