{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h2>{{ article }}</h2>
{% if perms.sp_api.change_article %}
  <a class="btn btn-warning btn-sm" href="{% url 'sp_app:change_article' article.pk %}">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
  </a>
{% endif %}
<dl id="article_metadata" class="row">
  <dt class="col-sm-3">ID sp_hub</dt>
  <dd class="col-sm-9">{{ article.pk }}</dd>
  <dt class="col-sm-3">ID article Sens Public</dt>
  <dd class="col-sm-9">{{ article.id_senspublic }}</dd>
  <dt class="col-sm-3">Author</dt>
  <dd class="col-sm-9">{{ article.created_by }}</dd>
  <dt class="col-sm-3">Original file</dt>
  <dd class="col-sm-9"><a href="{% get_static_prefix %}{{ article.html_file.name }}">{{ article.html_file.name }}</a></dd>
  <dt class="col-sm-3">Mots-clés</dt>
  <dd class="col-sm-9">
    {% for keyword in article.keywords.all %}
      <a href="{% url 'sp_app:display_keyword' keyword.pk %}" class="badge badge-primary">
        {{ keyword.name }}
      </a>
    {% endfor %}
  </dd>
  {% if conversations %}
  <dt class="col-3">Conversations</dt>
  <dd class="col-9">
    {% for convo in article.conversations.all %}
      <a href="{% url 'sp_app:display_conversation' convo.pk %}" class="badge badge-primary">{{ convo }}</a></li>
    {% endfor %}
  </dd>
  {% endif %}
</dl>
<h3>Original document</h3>
<div id="article_content">
    {% autoescape off %}
    {{ basex_document }}
    {% endautoescape %}
</div>
<h3>
    <a data-toggle="collapse" data-target="#annotations" href="#annotations">Annotations hypothes.is</a>
</h3>

{% if annotations %}
<div id="annotations" class="list-group panel-collapse collapse">
    {% for value in annotations %}
    <a href="{{ value.links.html }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ value.text }}</h4>
        <p class="list-group-item-text">{{ value.user }}</p>
        {% if value.tags %}
            {% for tag in value.tags %}
                <button type="button" class="btn btn-xs btn-default">{{ tag }}</button>
            {% endfor %}
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
