body {
    margin: 0;
    padding: 0;
}

#container {
    width: 850px;
    margin: 0 auto;
}

#navigation {
    background: black;
    color: white;
    padding: 1rem 1.5rem;
    margin: 0;
}

#navigation h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: right;
}

#navigation a, #navigation a:link, #navigation a:visited  {
    color: #ccc;
}

dl#article_metadata {
    padding: 10px;
    background: #ccffcc;
}
