{% extends 'core/base.html' %}

{% block content %}
<h2>{{ keyword.name }}</h2>
{% if perms.sp_api.change_spkeyword %}
  <a class="btn btn-warning btn-sm" href="{% url 'sp_app:change_keyword' keyword.pk %}">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
  </a>
{% endif %}
<dl class="row">
  {% for source, reference in keyword.data.items %}
    <dt class="col-3">{{ source }}</dt>
    <dd class="col-9">{{ reference }}</dd>
  {% endfor %}
</dl>
<h3>Tagged articles</h3>
  <ul>
  {% for article in keyword.articles.all %}
    <li><a href="{% url 'sp_app:display_article' article.pk %}">{{ article }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
