{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="{% static "js/edit_keywords.js" %}"></script>
{% endblock %}

{% block content %}
    <h1>Edit tag</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form exclude="data" %}
        {{ form.data.as_hidden }}
        {% buttons %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAlignmentModal">
            Add alignment
          </button>
          <button type="submit" class="save btn btn-success">Save</button>
        {% endbuttons %}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="addAlignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" value="newLabel" id="newLabel">
        <input type="text" value="newValue" id="newValue">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addLineSaveBtn">Save changes</button>
      </div>
    </div>
    </div>
    </div>
{% endblock %}
