<h2>Liste de mots-clés</h2>
<table id="keywordsTable" class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Catégorie</td>
      <td>Auteur | éditeur</td>
      <td>Aligné</td>
    </tr>
  </thead>
  <tbody>
    {% for item in keywords %}
    <tr>
      <td>{{ item.pk }}</td>
      <td><a href="{% url 'spkeyword:display' item.pk %}">{{ item.name }}</a></td>
      <td>{{ item.category }}</td>
      <td>{{ item.is_editor }}</td>
      <td>{{ item.aligned }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
