{% extends 'core/base.html' %}

{% block content %}
{% include 'keywords/list.html' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#keywordsTable').DataTable({
      "pageLength": 50,
      responsive: true,
    });
} );
</script>
{% endblock %}
