{% load static %}
{% load bootstrap4 %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% block extra_head %}
  {% endblock %}

  <title>Sens Public</title>
  <meta name="description" content="Sens Public v2">
  <meta name="author" content="Tim">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% bootstrap_css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  {% block css %}
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% include "core/navigation.html" %}
  <main role="main" class="container">
    {% block content %}
    {% endblock %}
  </main>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static "js/core.js" %}"></script>
  {% bootstrap_javascript %}
  {% block js %}
  {% endblock %}
</body>
</html>
