<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                sp_hub
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'list_articles' %}">Articles</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 40px;">
                {% if user.is_authenticated %}
                    <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% else %}
                    <li><a href="#">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                Actions
            </a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i> Article</a></li>
                    <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i> Conversation</a></li>
                    <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i> Mot-clé</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
