{% extends 'base.html' %}

{% block content %}
<dl id="article_metadata">
    <dd>sp_hub ID: {{ article.pk }}</dd>
    <dd>BaseX docid: {{ article.basex_docid }}</dd>
    <dd>Author: {{ article.creator }}</dd>
    <dd>Original file: {{ article.document.name }}</dd>
</dl>

{% autoescape off %}
{{ basex_document }}
{% endautoescape %}
<h3>Annotations hypothes.is</h3>
<ul>
{% for value in annotations %}
    <li><a href="{{ value.links.html }}">By {{ value.user }}:<br/>{{ value.text }}</li>
{% endfor %}
{% endblock %}
