{% extends 'core/base.html' %}

{% block content %}
<h2>{{ article.title }}</h2>
<h4><a href="{% url 'sp_app:edit_article' pk=article.id %}">Edit</a></h4>
<script src="https://hypothes.is/embed.js" async></script>
<dl id="article_metadata" class="well">
    <dd>sp_hub ID: {{ article.pk }}</dd>
    <dd>BaseX docid: {{ article.basex_docid }}</dd>
    <dd>Author: {{ article.creator }}</dd>
    <dd>Original file: {{ article.document.name }}</dd>
</dl>

<h3>
    <a data-toggle="collapse" data-target="#annotations" href="#annotations">Annotations hypothes.is</a>
</h3>

{% if annotations %}
<div id="annotations" class="list-group panel-collapse collapse">
    {% for value in annotations %}
    <a href="{{ value.links.html }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ value.text }}</h4>
        <p class="list-group-item-text">{{ value.user }}</p>
        {% if tags %}
            {% for tag in value.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endif %}

<h3>
    <a data-toggle="collapse" data-target="#article_content" href="#article_content">BaseX document</a>
</h3>

<div id="article_content" class="collapse">
    {% autoescape off %}
    {{ basex_document }}
    {% endautoescape %}
</div>
{% endblock %}
