{% extends 'base.html' %}

{% block content %}
{{ django_article.pk }} -- {{ django_article.document.name }}
<div style="width: 65%; float: left">
{% autoescape off %}
{{ article }}
{% endautoescape %}
</div>
<div style="width: 30%; float: right; margin-left: 3%; border-left: 2px solid grey">
    <h3>Annotations hypothes.is</h3>
    <ul>
    {% for value in annotations %}
        <li><a href="{{ value.links.html }}">By {{ value.user }}:<br/>{{ value.text }}</li>
    {% endfor %}
</div>
{% endblock %}
