{% load bootstrap3 %}
{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sens Public</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Tim">

  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    {% include "core/navigation.html" %}
    {% bootstrap_messages %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    {% bootstrap_javascript %}
</body>
</html>
