<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                sp_hub
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'sp_app:new_article' %}">Nouvel article</a></li>
                <li><a href="{% url 'sp_app:new_conversation' %}">Nouvelle conversation</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right" style="padding-right: 40px;">
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
